.agency{
    background-color: var(--white);
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: {
            top: 40px;
            bottom: 40px;
        }
    }
    &__text{
        & > *:not(:last-child){
            margin-bottom: 10px;
        }
        &-title{
            text-align: left;
            max-width: 620px;
        }
        &-subtitle{
            text-align: left;
            max-width: 500px;
        }
    }
    &__button{
        &-button{
            text-align: center;
            max-width: 160px;
            background-color: var(--buttonColor);
            color: var(--white);
            border-radius: 5px;
            &:hover{
                background-color: var(--orangeHoverColor);
                transition: .5s;
            }
            &:active{
                color: var(--gray);
                transition: .1s;
            }
            padding: {
                top: 15px;
                bottom: 15px;
                left: 40px;
                right: 40px;
            }
        }
    }
}