.contact{
    &-container{
        padding: {
            top: 80px;
            bottom: 140px;
        }
    }
    &__subtitle{
        margin-top: 10px;
    }
    &__content{
        margin-top: 110px;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
    &__card{
        background-color: var(--white);
        max-width: 330px;
        margin: {
            left: auto;
            right: auto;
        }
        padding: {
            top: 50px;
            bottom: 50px;
            left: 40px;
            right: 40px;
        }
        transition: .3s;
        &:hover{
            background-color: var(--bgDarkColor);
            padding: {
                top: 70px;
                bottom: 70px;
            }
        }
        &:hover &-title{
            color: var(--white);
        }
        &:hover &-text{
            color: var(--white);
        }
        &:hover &-img{
            fill: var(--white);
        }
        &:hover &-button{
            color: var(--white);
            border: 1px solid var(--white);
        }
        &-img{
            width: 72px;
            height: 72px;
            margin: {
                left: auto;
                right: auto;
            }
        }
        &-text{
            font-weight: 600;
            text-align: center;
            margin-top: 15px;
        }
        &-title{
            text-align: center;
            margin-top: 15px;
        }
        &-button{
            text-align: center;
            max-width: 160px;
            color: var(--buttonColor);
            border: 1px solid var(--buttonColor);
            border-radius: 5px;
            padding: {
                top: 10px;
                bottom: 10px;
                left: 20px;
                right: 20px;
            }
            margin: {
                top: 15px;
                left: auto;
                right: auto;
            }
        }
    }
}