.development{
    &-container{
        padding: {
            top: 80px;
            bottom: 80px;
        }
    }
    &__subtitle{
        margin-top: 10px;
    }
    &__cards{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @include for-desktop-HD{
            gap: 20px;
        }
    }
    &__card{
        margin: {
            left: auto;
            right: auto;
        }
        width: 240px;
        background-color: var(--white);
        padding: {
            top: 30px;
            bottom: 30px;
        }
        &-img{
            margin: {
                left: auto;
                right: auto;
            }
        }
        &-title{
            margin-top: 10px;
        }
        &-subtitle{
            margin-top: 10px;
            text-align: center;
        }
    }
}