.footer{
    background-color: var(--bgDarkColor);
    &__content{
        padding: {
            top: 50px;
            bottom: 50px;
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__additional{
        &-title{
            font-size: 16px;
            margin-bottom: 20px;
            color: var(--white);
        }
        &-information{
            &-text{
                margin-bottom: 10px;
                color: var(--white);
                transition: .3s;
                &:hover{
                    transition: .3s;
                    color: rgb(149, 145, 145);
                }
                &:active{
                    color: var(--gray);
                    transition: .1s;
                }
            }
        }
    }
}