.header{
    padding-bottom: 50px;
    background: {
        image: url(../img/humans.jpg);
        repeat: no-repeat;
        position: center;
        size: cover;
    }
    @include for-tablet{
        padding-bottom: 50px;
    }
    @include for-desktop{
        padding-bottom: 80px;
    }
    @include for-desktop-HD{
        padding-bottom: 190px;
    }
    &__top-line{
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        align-items: center;
        @include for-tablet{
            justify-content: left;
        }
        &-buttons{
            display: none;
            @include for-tablet{
                display: block;
                margin-left: 130px;
            }
        }
        &-button{
            margin-right: 20px;
            color: var(--pColor);
            &:active{
                color: rgb(62, 58, 58);
                transition: .1s;
            }
        }
        &-burger{
            @include for-tablet{
                display: none;
            }
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: relative;
            z-index:2;
            overflow: hidden;
            span {
                width: 30px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--buttonColor);
                transition: all 0.5s;
                &:nth-of-type(2) {
                    top: calc(50% - 5px);
                }
                &:nth-of-type(3) {
                    top: calc(50% + 5px);
                }
            }
            &.active span:nth-of-type(1) {
                display: none;
              }
            &.active span:nth-of-type(2) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(45deg);  
              }
            &.active span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(-45deg); 
              }
              &.active{
                position: fixed;
                top: 0;
                right: 0;
              }
        }
    }
    &__content{
        margin-top: 20px;
        max-width: 370px;
        @include for-tablet{
            max-width: 400px;
            margin-top: 80px;
        }
        &-title{
            font-weight: 800;
            font-size: 40px;
            text-align: left;
            margin-top: 35px;
            @include for-tablet{
                font-size: 58px;
            }
        }
        &-subtitle{
            font-size: 20px;
            font-weight: 500;
            margin-top: 35px;
        }
        &-buttons{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            margin-top: 35px;
        }
        &-button,&-button-get{
            font-weight: 700;
            max-width: 165px;
            padding: {
                top: 10px;
                bottom: 10px;
                left: 36px;
                right: 36px;
            }
            color: var(--bgGreenColor);
            border: 1px solid var(--bgGreenColor);
            border-radius: 36px;
            &:hover{
                transition: .3s;
                border: 1px solid var(--buttonColor);
                background-color: transparent;
                color: var(--buttonColor);
            }
            &:active{
                transition: .1s;
                color: var(--gray);
            }
        }
        &-button-get{
            max-width: 195px;
            color: var(--white);
            background-color: var(--buttonColor);
            border: 1px solid transparent;
            &:hover{
                transition: .3s;
                border: 1px solid var(--bgGreenColor);
                background-color: transparent;
                color: var(--bgGreenColor);
            }
            &:active{
                transition: .1s;
                color: var(--gray);
            }
        }

    }
    &__burger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s;
        padding: {
            top: 30px;
            left: 30px;
        }
        &.active {
            transform: translateX(0);
        }
        &-item{
            font-size: 30px;
            padding-bottom: 10px;
            color: var(--gray);
            max-width: 130px;
            &:active{
                transition: .1s;
                color: var(--white);
            }
        }
    }
}