.team{
    background-color: var(--white);
    &-container{
        padding: {
            top: 100px;
            bottom: 136px;
        }
    }
    &__subtitle{
        margin-top: 10px;
    }
    &__img{
        position: relative;
        background: {
            image: url(../img/team.jpg);
            repeat: no-repeat;
            position: center;
            size: cover;
        }
        max-width: 600px;
        min-width: 330px;
        min-height: 440px;
        @include for-tablet{
            min-width: 300px;
        }
        @include for-desktop{
            min-width: 400px;
        }
        @include for-desktop-HD{
            min-width: 600px;
        }
        &-video{
            width: 100%;
            height: 100%;
            display: none;
            position: relative;
            z-index: 2;
            &.active{
                display: block;
            }
        }
        &-circle{
            width: 95px;
            height: 95px;
            background-color: var(--bgGreenColor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0px auto;
            top: calc(50% - 47.5px);
            z-index: 1;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: rgb(13, 72, 78);
            }
            &:active &-triangle{
                border-color: transparent transparent transparent var(--gray);
            }
            &-triangle{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 0 14px 24px;
                border-color: transparent transparent transparent #ffffff;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
        &-text{
            width: 330px;
            padding-top: 20px;
            &-title{
                text-align: left;
            }
            &-subtitle{
                font-size: 14px;
            }
        }
    }
    &__card{
        display: flex;
        margin-top: 30px;
        &-img{
            margin-right: 20px;
        }
        &-text{
            &-title{
                font-size: 16px;
            }
            &-subtitle{
                margin-top: 5px;
            }
        }
    }
}