:root{
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(92, 91, 91);
    --hColor: rgba(37, 43, 66, 1);
    --pColor: rgba(115, 115, 115, 1);
    --buttonColor: rgba(255, 123, 71, 1);
    --bgGreenColor: rgba(13, 92, 99, 1);
    --bgDarkColor: rgba(37, 43, 66, 1);
    --bgGrayColor: rgba(250, 250, 250, 1);
    --orangeHoverColor: rgb(196, 76, 29);
}